
#card {
    margin-bottom: 115px;
}

.chat-img {
    filter: invert(65%);
    margin: -2px 5px 0 0;
    width: 23px;
    height: 23px;
}

label {
    font-size: 12px;
}

#post, .categories {
    padding: 15px;
}

.categories {
    padding: 15px;
}

.last_arts {
    padding: 15px;
    margin-top: 100px;
}

.tags-block {
    min-height: 80px;
}

.tag {
    color: green;
}

.blog_img {
    width: 100%;
}

.aside_art_img {
    width: 50px;
    height: 50px;
}
