{% extends 'my-gym/base.html' %}
{% load static %}
{% block title %}Profilo : {{ user.username|capfirst }}{% endblock %}
{% block content %}
    <div class="container shadow p-3 mb-5 bg-body rounded">
        <div class="row">
            <!--BLOCCO DATI UTENTE-->
            <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center">
                <div class="container-fluid d-flex flex-column align-items-center">
                    {% if user.profile_image %}
                        <img src="{{ user.image_url }}" class="rounded-circle" width="80" height="80">
                    {% else %}
                        <img src="{% static 'img/avatar.jpg' %}" class="rounded-circle" width="80" height="80">
                    {% endif %}
                    <p class="c-grey-f f-bold mt-3">{{ user.username|upper }}</p>
                </div>
                <div class="container-fluid d-flex flex-column align-items-center pt-3">
                    <p class="c-grey-f f-sm-bold">{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</p>
                    {% if user.address and user.city %}
                        <p class="c-grey-f f-slim text-center">
                            Via {{ user.address }} {{ user.city|capfirst }}
                        </p>
                    {% endif %}
                    <p class="c-grey-f f-slim">{{ user.email }}</p>
                </div>

                <a href="{% url 'room:chat-rooms' %}" class="link-info f-slim mt-4">Messaggia con altri utenti!</a>
                <a href="{% url 'user_auth:change_data' %}" class="link-info f-slim mt-1">Modifica dati personali</a>
                <a href="{% url 'user_auth:change_password' %}" class="link-info f-slim mt-1">Cambia password</a>
                <a href="{% url 'user_auth:logout' %}" class="f-slim link-info mt-1">Logout</a>
                <a href="{% url 'user_auth:user_delete' %}" class="f-slim link-danger mt-2">Elimina account</a>

            </div>
            <!--./BLOCCO DATI UTENTE-->

            <div class="col-sm-12 col-md-6 d-flex flex-column mt-5 mt-md-0 ">
                <!--DASHBOARD ADMIN-->
                {% if user.is_superuser %}
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <h5 class="c-black text-uppercase f-sm-bold text-center pt-2">articoli del blog</h5>
                        <a href="{% url 'blog:post_creation' %}" class="c-white me-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                 class="bi bi-plus-circle-dotted" viewBox="0 0 16 16">
                                <path d="M8 0c-.176 0-.35.006-.523.017l.064.998a7.117 7.117 0 0 1 .918 0l.064-.998A8.113 8.113 0 0 0 8 0zM6.44.152c-.346.069-.684.16-1.012.27l.321.948c.287-.098.582-.177.884-.237L6.44.153zm4.132.271a7.946 7.946 0 0 0-1.011-.27l-.194.98c.302.06.597.14.884.237l.321-.947zm1.873.925a8 8 0 0 0-.906-.524l-.443.896c.275.136.54.29.793.459l.556-.831zM4.46.824c-.314.155-.616.33-.905.524l.556.83a7.07 7.07 0 0 1 .793-.458L4.46.824zM2.725 1.985c-.262.23-.51.478-.74.74l.752.66c.202-.23.418-.446.648-.648l-.66-.752zm11.29.74a8.058 8.058 0 0 0-.74-.74l-.66.752c.23.202.447.418.648.648l.752-.66zm1.161 1.735a7.98 7.98 0 0 0-.524-.905l-.83.556c.169.253.322.518.458.793l.896-.443zM1.348 3.555c-.194.289-.37.591-.524.906l.896.443c.136-.275.29-.54.459-.793l-.831-.556zM.423 5.428a7.945 7.945 0 0 0-.27 1.011l.98.194c.06-.302.14-.597.237-.884l-.947-.321zM15.848 6.44a7.943 7.943 0 0 0-.27-1.012l-.948.321c.098.287.177.582.237.884l.98-.194zM.017 7.477a8.113 8.113 0 0 0 0 1.046l.998-.064a7.117 7.117 0 0 1 0-.918l-.998-.064zM16 8a8.1 8.1 0 0 0-.017-.523l-.998.064a7.11 7.11 0 0 1 0 .918l.998.064A8.1 8.1 0 0 0 16 8zM.152 9.56c.069.346.16.684.27 1.012l.948-.321a6.944 6.944 0 0 1-.237-.884l-.98.194zm15.425 1.012c.112-.328.202-.666.27-1.011l-.98-.194c-.06.302-.14.597-.237.884l.947.321zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a6.999 6.999 0 0 1-.458-.793l-.896.443zm13.828.905c.194-.289.37-.591.524-.906l-.896-.443c-.136.275-.29.54-.459.793l.831.556zm-12.667.83c.23.262.478.51.74.74l.66-.752a7.047 7.047 0 0 1-.648-.648l-.752.66zm11.29.74c.262-.23.51-.478.74-.74l-.752-.66c-.201.23-.418.447-.648.648l.66.752zm-1.735 1.161c.314-.155.616-.33.905-.524l-.556-.83a7.07 7.07 0 0 1-.793.458l.443.896zm-7.985-.524c.289.194.591.37.906.524l.443-.896a6.998 6.998 0 0 1-.793-.459l-.556.831zm1.873.925c.328.112.666.202 1.011.27l.194-.98a6.953 6.953 0 0 1-.884-.237l-.321.947zm4.132.271a7.944 7.944 0 0 0 1.012-.27l-.321-.948a6.954 6.954 0 0 1-.884.237l.194.98zm-2.083.135a8.1 8.1 0 0 0 1.046 0l-.064-.998a7.11 7.11 0 0 1-.918 0l-.064.998zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                            </span>
                            </button>
                        </a>
                    </div>
                    <span class="mt-0 mb-4" style="background-color: black; height: 1px;"></span>
                    <table class="table table-hover mb-5 mt-3">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titolo</th>
                            <th scope="col">Azioni</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for st in posts %}
                            <tr>
                                <th scope="row">{{ st.id }}</th>
                                <td class="f-sm-bold">{{ st.title }}</td>
                                <td>
                                    <span class="badge bg-info text-dark">
                                        <a href="{% url 'blog:post_detail' st.id %}"
                                           class="c-white">leggi</a>
                                    </span>
                                    <span class="badge bg-primary">
                                        <a href="{% url 'blog:post_update' st.id %}" class="c-white">modifica</a>
                                    </span>
                                    <span class="badge bg-danger">
                                        <a href="{% url 'blog:post_delete' st.id %}" class="c-white">elimina</a>
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <h5 class="c-black text-uppercase f-sm-bold text-center pt-2">categorie</h5>
                        <a href="{% url 'blog:category_creation' %}" class="c-white me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                 class="bi bi-plus-circle-dotted" viewBox="0 0 16 16">
                                <path d="M8 0c-.176 0-.35.006-.523.017l.064.998a7.117 7.117 0 0 1 .918 0l.064-.998A8.113 8.113 0 0 0 8 0zM6.44.152c-.346.069-.684.16-1.012.27l.321.948c.287-.098.582-.177.884-.237L6.44.153zm4.132.271a7.946 7.946 0 0 0-1.011-.27l-.194.98c.302.06.597.14.884.237l.321-.947zm1.873.925a8 8 0 0 0-.906-.524l-.443.896c.275.136.54.29.793.459l.556-.831zM4.46.824c-.314.155-.616.33-.905.524l.556.83a7.07 7.07 0 0 1 .793-.458L4.46.824zM2.725 1.985c-.262.23-.51.478-.74.74l.752.66c.202-.23.418-.446.648-.648l-.66-.752zm11.29.74a8.058 8.058 0 0 0-.74-.74l-.66.752c.23.202.447.418.648.648l.752-.66zm1.161 1.735a7.98 7.98 0 0 0-.524-.905l-.83.556c.169.253.322.518.458.793l.896-.443zM1.348 3.555c-.194.289-.37.591-.524.906l.896.443c.136-.275.29-.54.459-.793l-.831-.556zM.423 5.428a7.945 7.945 0 0 0-.27 1.011l.98.194c.06-.302.14-.597.237-.884l-.947-.321zM15.848 6.44a7.943 7.943 0 0 0-.27-1.012l-.948.321c.098.287.177.582.237.884l.98-.194zM.017 7.477a8.113 8.113 0 0 0 0 1.046l.998-.064a7.117 7.117 0 0 1 0-.918l-.998-.064zM16 8a8.1 8.1 0 0 0-.017-.523l-.998.064a7.11 7.11 0 0 1 0 .918l.998.064A8.1 8.1 0 0 0 16 8zM.152 9.56c.069.346.16.684.27 1.012l.948-.321a6.944 6.944 0 0 1-.237-.884l-.98.194zm15.425 1.012c.112-.328.202-.666.27-1.011l-.98-.194c-.06.302-.14.597-.237.884l.947.321zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a6.999 6.999 0 0 1-.458-.793l-.896.443zm13.828.905c.194-.289.37-.591.524-.906l-.896-.443c-.136.275-.29.54-.459.793l.831.556zm-12.667.83c.23.262.478.51.74.74l.66-.752a7.047 7.047 0 0 1-.648-.648l-.752.66zm11.29.74c.262-.23.51-.478.74-.74l-.752-.66c-.201.23-.418.447-.648.648l.66.752zm-1.735 1.161c.314-.155.616-.33.905-.524l-.556-.83a7.07 7.07 0 0 1-.793.458l.443.896zm-7.985-.524c.289.194.591.37.906.524l.443-.896a6.998 6.998 0 0 1-.793-.459l-.556.831zm1.873.925c.328.112.666.202 1.011.27l.194-.98a6.953 6.953 0 0 1-.884-.237l-.321.947zm4.132.271a7.944 7.944 0 0 0 1.012-.27l-.321-.948a6.954 6.954 0 0 1-.884.237l.194.98zm-2.083.135a8.1 8.1 0 0 0 1.046 0l-.064-.998a7.11 7.11 0 0 1-.918 0l-.064.998zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                        </a>
                    </div>
                    <span class="m-0 mb-4" style="background-color: black; height: 1px;"></span>
                    <table class="table table-hover mt-3">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titolo</th>
                            <th scope="col">Azioni</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in cate %}
                            <tr>
                                <th scope="row">{{ c.id }}</th>
                                <td class="f-sm-bold">{{ c.name|capfirst }}</td>
                                <td>
                                    <span class="badge bg-danger">
                                        <a href="{% url 'blog:category_delete' c.id %}" class="c-white">elimina</a>
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <small class="mt-1 mb-4 f-slim c-grey">
                        <a href="{% url 'blog:category_list' %}" class="p-0 m-0">Vedi tutte</a>
                    </small>
                    <!--./DASHBOARD ADMIN-->
                {% else %}
                    <!--BLOCCO ISCRIZIONI UTENTE-->
                    <h6 class="c-black text-uppercase f-sm-bold pt-3 text-center">le mie iscrizioni</h6>

                    {% if user.subscribers.count == 0 %}

                        <small class="text-center text-danger mt-5">Non sei iscritto a nessun corso</small>
                        <small class="text-center text-info mt-2 mb-5">
                            <a href="{% url 'gym_course:courses' %}">
                                Iscriviti a un corso ora!
                            </a>
                        </small>

                    {% else %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Corso</th>
                                <th scope="col">Azioni</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for crs in user.subscribers.all %}
                                <tr>
                                    <td class="f-sm-bold">{{ crs }}</td>
                                    <td>
                                        <form method="POST"
                                              action="{% url 'gym_course:unsubscribe' course_pk=crs.pk to_queue="False" %}">
                                            {% csrf_token %}
                                            <button class="badge bg-danger border-0" type="submit">
                                                <small href="" class="c-white">Cancella iscrizione</small>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    <div class="container-fluid">
                        <hr>
                    </div>
                    <ul class="list-group text-center mt-5">
                        <li class="list-group-item bg-info c-white f-mid" aria-current="true">Iscrizioni alle liste
                            d'attesa :
                        </li>
                        {% for lst in user.usr_queue.all %}
                            <li class="list-group-item f-mid">
                                {{ lst }}
                                <span class="badge bg-danger m-2 p-1">
                                   <a href="{% url 'gym_course:unsubscribe' course_pk=lst.pk to_queue="True" %}"
                                      class="c-white">Cancella iscrizione</a>
                                </span>
                            </li>
                        {% empty %}
                            <li class="list-group-item">
                                <small class="text-dark">Nessuna iscrizione a liste.</small>
                            </li>
                        {% endfor %}
                    </ul>

                    <!--./BLOCCO ISCRIZIONI UTENTE-->
                {% endif %}
            </div>
        </div>
{% endblock %}