{% extends 'my-gym/base.html' %}
{% load crispy_forms_tags %}
{% block head %}
    <style>
        form {
            max-width: 75% !important;
            margin: 0 auto;
        }

        form input {
            margin: 17px 0 !important;
        }

        form label {
            display: none;
        }

    </style>
{% endblock %}
{% block content %}
    <h4 class="text-center f-sm-bold mb-5">Modifica il tuo commento:</h4>
    <form method="POST" class="text-end">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <button type="submit" class="bg-transparent border-0 mt-2 me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                 fill="currentColor"
                 class="bi bi-send" viewBox="0 0 16 16"
                 style="transform: rotate(45deg)">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
            </svg>
        </button>
    </form>
{% endblock %}