{% load static %}
{% if post.comments.count == 0 %}
     <div class="container" style="position: sticky; top: 0;">
        <hr>
    </div>
    <div class="container mt-5">
        <p class="f-mid text-center">Nessun commento per questo post.</p>
    </div>
{% else %}
    <div class="container" style="position: sticky; top: 0;">
        <hr>
    </div>
    {% for comment in post.comments.all %}
        <div class="d-flex flex-row justify-content-start align-items-start pt-1"
             style="margin-bottom: 50px;">
            {% if comment.commenter.image_url %}
                <img src="{{ comment.commenter.image_url }}"
                     class="rounded-circle ms-3 me-3 mt-1" width="40" height="40" alt="msg-pic">
            {% else %}
                <img src="{% static 'img/avatar.jpg' %}"
                     class="rounded-circle ms-3 me-3 mt-1" width="40" height="40" alt="msg-pic">
            {% endif %}
            <div class="d-flex flex-column">
                <div class="text-dark bg-secondary bg-opacity-10 rounded me-5">
                    <p class="f-sm-bold ps-3 pe-3 pt-2 m-0">{{ comment.commenter.username|capfirst }}</p>
                    <p class="f-mid ps-3 pe-3 text-wrap p-2"
                       style="width: 100%;">
                        {{ comment.content }}</p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <p class="ps-2 pt-1 f-bold c-grey"
                       style="font-size: 10px;"
                    >{{ comment.date|date:"SHORT_DATE_FORMAT" }}</p>
                    {% if request.user == comment.commenter or request.user.is_superuser %}
                        <div class="d-flex flex-row pt-1 pe-5" style="font-size: 9px;">
                            <a href="{% url 'comment:comment_update' comment.id %}"
                               class="text-secondary pb-1 f-sm-bold me-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>
                            <a href="{% url 'comment:comment_delete' comment.id %}" class="text-danger p-0 f-sm-bold ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                </svg>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
