{% extends 'my-gym/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <style>
        form {
            min-width: 50% !important;
        }

        form input {
            margin: 20px 0;
        }

        form label {
            font-size: 14px;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block title %}My-Gym : Modifica Dati Personali{% endblock %}

{% block content %}
    <div class=" d-flex flex-column align-items-center">
        <a class="" href="{% url 'home' %}">
            <img src="{% static 'img/gym-logo.svg' %}" alt="gym logo"
                 class="logo_my_gym mb-5">
        </a>

        <form method="POST" enctype="multipart/form-data" class="shadow-sm p-3 mb-5 bg-body rounded text-center">
            <h5 class="f-bold text-uppercase mb-5">Modifica dati:</h5>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 mt-5">
                <button class="btn btn-primary f-sm-bold" type="submit">Modifica</button>
            </div>
        </form>

    </div>
{% endblock %}