{% extends 'my-gym/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <style>
        form {
            min-width: 50% !important;
        }

        form input {
            margin: 20px 0;
        }

        form label {
            font-size: 14px;
            font-weight: bold;
        }

        .to_reg {
            font-size: 12px;
        }
    </style>
{% endblock %}

{% block title %}My-Gym : Login{% endblock %}

{% block content %}
    <div class=" d-flex flex-column align-items-center">
        <a class="" href="{% url 'home' %}">
            <img src="{% static 'img/gym-logo.svg' %}" alt="gym logo"
                 class="logo_my_gym mb-5">
        </a>

        <form method="POST" class="shadow-sm p-3 mb-5 bg-body rounded text-center">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 mt-5">
                <button class="btn btn-primary f-sm-bold" type="submit">Accedi</button>
            </div>
            <p class="f-sm-bold pt-4 to_reg">Non hai ancora un account?
                <a href="{% url 'user_auth:register' %}" class="link-primary pt-5 ">Registrati
                    adesso</a>
            </p>
        </form>

    </div>
{% endblock %}