{% extends 'my-gym/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <style>
        form {
            min-width: 30%;
        }

        form input {
            margin: 10px 0;
        }

        form label {
            font-size: 14px;
            font-weight: bold;
        }

        .to_log {
            font-size: 12px;
        }
    </style>
{% endblock %}

{% block title %}My-Gym : Registrati{% endblock %}
{% block content %}
    <div class="container d-flex flex-column align-items-center">
        <a class="" href="{% url 'home' %}">
            <img src="{% static 'img/gym-logo.svg' %}" alt="gym logo"
                 class="logo_my_gym mb-5">
        </a>
        <form method="POST" enctype="multipart/form-data" class="shadow-sm p-3 mb-5 bg-body rounded text-center">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 mt-5">
                <button class="btn btn-primary f-sm-bold" type="submit">Registrati</button>
            </div>
            <p class="f-sm-bold pt-3 to_log text-center">Hai gia un account?
                <a href="{% url 'user_auth:login' %}" class="link-primary">Accedi
                </a>
            </p>
        </form>

    </div>
{% endblock %}