{% extends 'my-gym/base.html' %}
{% load static %}
{% block title %}Categorie My-Gym{% endblock %}

{% block content %}

     <div class="container">
         <h4>Lista categorie:</h4>
         <div class="pt-2 pb-2 ps-4">
             {% for cat in categorylist %}
                <p>{{ cat.name }} id : {{ cat.id }}</p>
             {% endfor %}
             <b>Totale categorie: {{ view.get_tot_category }}</b>
         </div>
     </div>

{% endblock %}