{% extends 'my-gym/base.html' %}
{% load crispy_forms_tags %}
{% block head %}
    <style>
        form {
            min-width: 50% !important;
        }

        form input {
            margin: 20px 0;
        }

        form label {
            font-size: 14px;
            font-weight: bold;
            margin: 5px 0 !important;
            padding: 5px;
        }
    </style>
{% endblock %}
{% block title %}Categoria : Creazione{% endblock %}
{% block content %}

    <div class="container d-flex flex-column align-items-center">
        <h4 class="p-3 text-center f-sm-bold">Crea una categoria:</h4>
        <form method="post" class="shadow-sm p-3 mb-5 bg-body rounded text-center">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 mt-5">
                <button class="btn btn-primary f-sm-bold" type="submit">Crea</button>
            </div>
        </form>
    </div>
{% endblock %}