{% extends 'my-gym/base.html' %}
{% load static %}
{% block head %}
    <style>
        .chat-messages {
            height: 400px;
            overflow-y: auto;
        }

        .msg {
            border-radius: 50px !important;
        }

        .msg-img {
            width: 45px;
            height: 45px;
        }

        .msg-date {
            font-size: 10px;
        }

        .msg-content {
            width: 100%;
        }
    </style>
{% endblock %}
{% block title %}Chat - {{ room.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="d-flex flex-row align-items-center justify-content-between mb-5">
            <h1 class="text-center f-sm-bold room-name m-2">{{ room.name|upper }}</h1>
            <a type="button" href="{% url 'room:chat-rooms' %}" class="btn btn-outline-secondary m-2 me-3">Chat</a>
        </div>
        <div class="container border border-1 bg-light rounded">
            <div class="d-flex flex-column chat-messages" id="chat-messages">
                {% for msg in chat_mess %}
                    <div class="container d-flex flex-column rounded bg-secondary bg-opacity-10 mt-3 mb-2 pb-1 msg">
                        <div class="d-flex justify-content-center align-items-center p-3 mt-2">
                            {% if msg.user.image_url %}
                                <img src="{{ msg.user.image_url }}"
                                     class="rounded-circle me-4 msg-img" alt="msg-pic">
                            {% else %}
                                <img src="{% static 'img/avatar.jpg' %}"
                                     class="rounded-circle me-4  msg-img" alt="msg-pic">
                            {% endif %}
                            <h5 class="f-sm-bold text-uppercase">{{ msg.user.username }}</h5>
                        </div>
                        <div class="text-center text-wrap msg-content mt-2">
                            <p class="f-mid">{{ msg.content }}</p>
                        </div>
                        <p class="f-bold c-grey msg-date text-end me-3">{{ msg.date_added|date:"SHORT_DATE_FORMAT" }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="rounded mt-5">
            <form method="POST" action="." class="d-flex flex-column">
            <textarea type="text" name="content" class="" placeholder="Scrivi un messaggio..."
                      id="chat-message-input"></textarea>
                <div class="text-end">
                    <button class="btn btn-primary btm-sm mt-3 f-sm-bold" id="chat-message-submit">Invia</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ room.slug|json_script:"json-roomname" }}
    {{ request.user.username|json_script:"json-username" }}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}