{% extends 'my-gym/base.html' %}
{% block title %}My-Gym - Rooms{% endblock %}
{% block content %}
    <section class="d-flex flex-column">
        {% for room in rooms %}
            <div class="container mb-4 text-center bg-success border-bottom border-1 bg-opacity-50"
                 style="border-radius: 70px;">
                <h1 class="f-sm-bold p-3">{{ room.name|upper }}</h1>
                <p class="bg-light me-5 ms-5 p-2" style="border-radius: 70px;">
                    <a href="{% url 'room:chat' room.slug %}"
                       class="f-mid link-secondary">Entra nella chat</a>
                </p>
            </div>
        {% empty %}
            <div class="container alert alert-primary d-flex align-items-center justify-content-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                     class="bi bi-info-circle-fill m-2" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
                <div class="f-sm-bold">
                    Nessuna chat creata dall'amministratore!
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}