/*  BASE STYLES */

* {
    font-family: 'Montserrat', sans-serif !important;
}

a {
    text-decoration: none;
}

.c-black {
    color: #000000 !important;
}

.c-grey {
    color: #808080;
}

.c-white {
    color: #FFFFFF !important;
}

.c-grey-f {
    color: #b1b2b2;
}

.f-slim {
    font-weight: 400;
}

.f-mid {
    font-weight: 500;
}

.f-sm-bold {
    font-weight: 600;
}

.f-bold {
    font-weight: 700;
}

/* NAVBAR STYLES */

nav {
    background-color: #EBEBEB;
}

.nav-link {
    margin: 10px;
}

.logo_my_gym {
    width: 80px;
    height: 62px;
}

.auth-button {
    position: absolute;
    right: 20px;
}

.user-block {
    position: absolute;
    right: 135px;
}

@media (max-width: 991px) {

    .auth-button {
        position: relative;
        margin: auto;
        width: 95%;
        left: 0;
    }

    .user-block {
        position: initial;
    }
}

/* MESSAGES */

.success {
    background-color: green !important;
}

.warning {
    background-color: yellow !important;
}

.error {
    background-color: red !important;
}

/*NOTIFICATIONS*/
.toast-container {
    position: fixed;
    bottom: 40px;
    right: 25px;
    display: none;
    z-index: 1050!important;
}

.noti-animation {
    animation: bell 1s 1s both infinite;
}

@keyframes bell {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(30deg);
    }
    20% {
        transform: rotate(0);
    }
    80% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0);
    }
}

/*MAIN CONTENT STYLES*/

.main-content {
    margin-top: 160px !important;
    margin-bottom: 200px
}

/* FOOTER STYLE */

footer {
    background-color: #252525;
}

.footer_content {
    padding-top: 70px;
    margin: 0 auto;
}

.legacy {
    background-color: #202020;
    min-height: 70px;
    margin-top: 50px;
}

.legacy p {
    padding: 30px 0px 10px 0px;
}