{% extends 'my-gym/base.html' %}
{% load static %}
{% block title %}Contatti - My-Gym{% endblock %}

{% block content %}
    <div class="container shadow p-3 mb-5 bg-body rounded">
        <h1 class="f-sm-bold m-3">Contattaci</h1>
        <div class="row m-3">
            <form class="col-sm-12 col-md-9 pb-sm-5 pb-md-0">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Il tuo indirizzo email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                           placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">La tua richiesta</label>
                    <textarea class="form-control" placeholder="Scrivi la tua richiesta..."
                              id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <p class="text-end">
                    <btn class="btn btn-primary f-sm-bold">Invia</btn>
                </p>
            </form>
            <div class="col-sm-12 col-md-3">
                <address class="ps-3 c-grey-f f-mid">
                    V. Gorghetto 47 <br>
                    41030 Bomporto<br>
                    (Modena)<br>
                    P.IVA 0203 5440 198<br><br>
                    +33 059 891356 <br>
                    Lun/Ven:8.00-21.00 <br>
                    Sab:8.30-13.00<br>
                </address>
            </div>
        </div>
    </div>
{% endblock %}