{% extends 'my-gym/base.html' %}
{% load static %}
{% block title %}Palestra - My-Gym{% endblock %}


{% block content %}
    <div class="container">
        <img src="{% static 'img/rodrigo-s-2mz9IKab7DE-unsplash.jpg' %}" style="width: 85%;">
        <h3 class="f-bold mt-5 text-uppercase mb-4">sala pesi</h3>
        <p class="f-slim c-grey">
            Tonificate e modellate il vostro corpo grazie alla Sala Isotonica: macchinari di ultima generazione vi
            offrono la possibilità di ottenere un allenamento particolarmente avanzato e volto al potenziamento del tono
            muscolare attraverso l’utilizzo di macchine specifiche per ogni distretto muscolare.

            La nostra Sala Pesi & Cardio risponde a qualsiasi vostra esigenza con una nuova e completa linea di
            attrezzature isotoniche in grado di combinare funzionalità e perfezione biomeccanica. La sala offre inoltre
            un’ampia sezione di macchine con pesi a carico libero, ideali per la coordinazione motoria generale e per
            sviluppare tutte le espressioni della forza e dell’ipertrofia.

            Gli istruttori di sala sono sempre a vostra disposizione per preparare schede di allenamento personalizzate,
            con un successivo supporto mirato e professionale per raggiungere gli obiettivi desiderati.
        </p>
    </div>
{% endblock %}