{% extends 'my-gym/base.html' %}
{% load static %}
{% block head %}
    <style>
        .cta {
            position: relative;
            background-image: url("{% static 'img/risen-wang-20jX9b35r_M-unsplash.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            opacity: 1;
            height: 80vh;
            margin: -90px 0 0 0 !important;
            padding: 0 !important;
            z-index: 0;
        }

        .intro {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            width: 70%;
            height: 50%;
            text-align: center;
        }

        .name {
            color: #00a652;
            text-shadow: 0 0 3px #000000;
            font-size: 45px;
        }

        .name2 {
            color: #f4f4f4;
            text-shadow: 0 0 5px #000000;
            font-size: 60px
        }
    </style>
{% endblock %}
{% block title %}Home - My-Gym{% endblock %}


{% block content %}
    <section class="cta">
        <div class="intro">
            <span class="name text-uppercase f-sm-bold">My-Gym</span>
            <br>
            <span class="name2 text-uppercase f-mid">
                Esperti di fitness
            </span>
        </div>
    </section>
    <div class="container" style="margin-top: 100px;">
        <div class="row t">
            <div class="col-sm-12 col-md-4 mb-4 ps-5">
                <h3 class="f-sm-bold text-uppercase">Indirizzo</h3>
                <address class="c-grey mt-4">
                    V. Gorghetto 47 <br>
                    41030 Bomporto<br>
                    (Modena)<br>
                </address>
            </div>
            <div class="col-sm-12 col-md-4 mb-4 ps-5">
                <h3 class="f-sm-bold text-uppercase">Contatti</h3>
                <span class="d-flex mt-4">
                    <p class="c-grey me-2">Tel: </p>+33 059 891356
                </span>
            </div>
            <div class="col-sm-12 col-md-4 ps-5">
                <h3 class="f-sm-bold text-uppercase">Orari</h3>
                <span class="d-flex flex column c-grey mt-3">
                    Lun/Ven:8.00-21.00 <br>
                    Sab:8.30-13.00<br>
                </span>
            </div>
        </div>
    </div>
{% endblock %}
