{% load static %}
{% for msg in noti %}
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true"
         data-bs-autohide="false" id="noti-toast">
        <div class="toast-header d-flex justify-content-between p-0 bg-info">
            <img src="{% static 'img/gym-logo.svg' %}" class="rounded ms-3" width="50" height="40" alt="my-gym logo">
            <button type="button" class="btn-close me-3" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body d-flex flex-column align-items-center">
            <p class="f-mid m-0 p-0">{{ msg.verb }}</p>
            <div class="mt-2 pt-2 border-top">
                <a type="button" href="{% url 'gym_course:courses' %}" class="btn btn-outline-primary btn-sm f-mid">
                    Affrettati iscriviti ora!
                </a>
                </a>
                <a type="button" class="btn btn-outline-secondary btn-sm f-mid"
                   href="{% url 'gym_course:mark_not_as_read'  msg.slug %}">
                    Segna come letto
                </a>
            </div>
        </div>
    </div>
{% empty %}
    <div class="toast fade show mb-4" role="alert" aria-live="assertive" aria-atomic="true"
         data-bs-autohide="false" id="noti-toast">
        <div class="toast-header d-flex justify-content-between p-0 bg-info">
            <img src="{% static 'img/gym-logo.svg' %}" class="rounded ms-3" width="60" height="50" alt="my-gym logo">
            <button type="button" class="btn-close me-3" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body d-flex flex-column align-items-center">
            <p class="f-mid m-0 p-0">Nessuna notifica!</p>
        </div>
    </div>
{% endfor %}

