{% extends 'my-gym/base.html' %}
{% load static %}
{% block head %}
    <style>
        .cta {
            background-image: url("{% static 'img/sven-mieke-MsCgmHuirDo-unsplash.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 250px;
            margin: -90px 0 0 0 !important;
            padding: 0 !important;
        }
    </style>
{% endblock %}

{% block title %}Servizi - My-Gym{% endblock %}


{% block content %}
    <section class="cta"></section>
    <div class="container mt-5">
        <h3 class="f-sm-bold text-center text-uppercase mb-5">Fisioterapia</h3>
        <p class="c-grey f-slim mb-5 p-3">
            Per chi ne facesse richiesta sarà proponibile un vero e proprio percorso su misura per l’utente, anche
            individuando il tipo di recupero da raggiungere, sia esso rinforzo muscolare o stretching. Punto di forza è
            la stretta collaborazione fra istruttore della palestra, fisioterapista e medici, allo scopo di modificare i
            vari esercizi per adattarli alle esigenze del singolo, tenendo conto di eventuali limitazioni. I programmi
            terapeutici sono eseguiti da personale diplomato in terapia della riabilitazione
        </p>
        <hr>
        <h3 class="f-sm-bold text-center text-uppercase mb-5 mt-5">personal training</h3>
        <p class="c-grey f-slim mb-5 p-3">
            Il Club si avvale di un gruppo di qualificati PERSONAL TRAINERS per chi desideri avere un’assistenza
            continua e personalizzata durante l’intero allenamento; anche attraverso la collaborazione dello staff
            medico, il personal trainer ti aiuterà a:

            - individuare gli obiettivi da raggiungere;

            - scegliere il percorso da intraprendere per conseguirli, seguendo le tue necessità;

            Il personal trainer sarà un consulente, un allenatore, un amico che ti aiuterà a raggiungere i risultati da
            te prefissati. Contatta la segreteria per prenotare il tuo personal trainer.
        </p>
        <hr>
        <h3 class="f-sm-bold text-center text-uppercase mb-5 mt-5">pressoterapia</h3>
        <p class="c-grey f-slim mb-5 p-3">
            Procedura che mediante l’utilizzo di apposita apparecchiatura determina delle pressioni sugli arti inferiori
            che forniscono alle gambe leggerezza e sollievo e consentono il trattamento di: fasi iniziali di cattiva
            circolazione, insufficienza venosa, linfodrenaggio, cellulite, rottura capillari, distrofie della pelle.

            La pressoterapia è invece controindicata a coloro che soffrono di trombosi venosa profonda, infezioni degli
            arti inferiori e di insufficienza cardiaca grave
        </p>


    </div>
{% endblock %}