{% load static %}
{% for post in blogposts %}
    <div class="col-sm-12 col-lg-6 mt-5" id="card">
        <div class="card" style="width: 28rem; width: 100%;">
            <img src="{{ post.image_url }}" class="card-img-top" alt="{{ post.title }}">
            <div class="card-body">
                <h5 class="card-title text-uppercase f-sm-bold">{{ post.title }}</h5>
                <p class="card-text">{{ post.content | truncatechars:50 }}</p>
                <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary f-sm-bold">Scopri di
                    più</a>
            </div>
        </div>
    </div>
{% endfor %}

