{% for art in last_articles %}

    <div class="d-flex flex-row justify-content-around align-items-center flex-wrap">
        <img src="{{ art.image_url }}"
             class="aside_art_img rounded img-fluid"
             alt="post-image">
        <div class="d-flex flex-column m-1">
            <h7 class="f-bold text-uppercase">{{ art.title|truncatechars:10 }}</h7>

            {{ art.content|truncatechars:10 }}
        </div>
        <a href="{% url 'blog:post_detail' art.id %}" class="m-1">
            <span class="badge bg-primary">Leggi!</span>
        </a>
    </div>
    <hr>
{% endfor %}