{% extends 'my-gym/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <link href="{% static 'css/blog/blog-styles.css' %}"
          rel="stylesheet"
          type="text/css">
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block title %}Post : {{ post.title|capfirst }}{% endblock %}


{% block content %}

    <article class="container shadow p-3 mb-5 bg-body rounded" id="post">
        <section class="row">
            <div class="col-sm-8">
                <img src="{{ post.image_url }}" class="blog_img" width="100%" alt="post-image">
                <br><br>
                <h1 class="f-bold mt-1 mb-4">{{ post.title|capfirst }}</h1>
                <h6 class="f-mid mt-1 mb-2">{{ post.date|date:"SHORT_DATE_FORMAT" }}</h6>
                <div class="d-flex flex-row">
                    {% for cat in post.category.all %}
                        <h6><span class="badge bg-info text-dark me-2">{{ cat }}</span></h6>
                    {% endfor %}
                </div>
                <p class="c-grey" style="word-wrap:break-word">{{ post.content }}</p>
            </div>

            <aside class="col-sm-4 categories">
                <h7 class="f-bold">CATEGORIE</h7>
                <hr>
                <ul class="list-group list-group-flush">
                    {% for cat in categories %}
                        <li class="list-group-item">{{ cat|capfirst }}</li>
                    {% endfor %}
                </ul>
                <div class="last_arts">
                    <h7 class="f-bold">ULTIMI ARTICOLI</h7>
                    <hr>
                    {% include "blog/last_articles.html" %}
                </div>
            </aside>
        </section>
        <div class="container">
            <hr>
        </div>
        <!-- BLOCCO COMMENTI-->
        <section class="m-0 d-flex flex-column justify-content-center">
            <div class="d-flex flex-row justify-content-around justify-content-center mt-3 mb-2">
                <div class="mb-2">
                    <img src="{% static 'img/chatboxes.png' %}" alt="comment_image" class="chat-img">
                    <a class="f-mid c-grey" id="to_comment">Commenti</a>
                </div>
                {% if user.is_authenticated %}
                    <div class="position-relative f-sm-bold" id="add_msg"  style="display: none;">
                        <a href="#to_write">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                 class="bi bi-chat" viewBox="0 0 16 16">
                                <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                            </svg>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                            1+
                          </span>
                        </a>
                    </div>
                {% endif %}
            </div>
            <section id="comments"
                     class="overflow-auto"
                     style="max-height: 500px; display: none; margin-bottom: 150px;">
                {% include 'comment/post_comments.html' %}
            </section>
            <!--./BLOCCO COMMENTI-->
        </section>
        {% if user.is_authenticated %}
            <section class="container border-top border-info bg-light"
                     id="to_write"
                     style="position: relative; width: 100%; display: none;">
                <form method="POST" class="pt-3 text-end" style="margin-top: 100px;">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <button type="submit" class="bg-transparent border-0 mt-2 me-2" id="send_msg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                             fill="currentColor"
                             class="bi bi-send" viewBox="0 0 16 16"
                             style="transform: rotate(45deg)">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                        </svg>
                    </button>
                </form>
            </section>
        {% else %}
            <p class="text-center mt-4" id="user_info" style="display: none;">
                <a href="{% url 'user_auth:login' %}" class="link-primary text-center">Accedi per
                    scrivere un commento!</a>
            </p>
        {% endif %}
    </article>

{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#to_comment").click(function () {
                $("#comments").toggle();
                $("#add_msg").toggle();
                $("#to_write").toggle();
                $("#user_info").toggle();
            });
        });
    </script>
{% endblock %}


