{% extends 'my-gym/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <link href="{% static 'css/blog/blog-styles.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}Blog - My-Gym{% endblock %}

{% block content %}
    {% if tot_post == 0 %}
        <div class="container alert alert-primary d-flex align-items-center justify-content-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                 class="bi bi-info-circle-fill m-2" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg>
            <div class="f-sm-bold">
                Nessun post creato!
            </div>
        </div>
    {% else %}
        <!--FORM-->
        <div class="container d-flex bd-highlight shadow-sm p-3 mb-5 bg-body rounded">
            <label for="cat-selector" class="text-primary f-sm-bold text-uppercase bd-highlight p-1"
                   style="font-size: 14px; letter-spacing: -0.5px">
                Filtra per categoria:
            </label>
            <div class="ms-auto bd-highlight">
                <select id="cat-selector" class="form-select form-select-sm ms-auto" aria-label="category selector"
                        onchange="selectCat()">
                    {% for c in categories %}
                        <option value="{{ c.name }}">{{ c.name }}</option>
                    {% endfor %}
                    <option value="all" selected>Vedi tutte</option>
                </select>
            </div>
        </div>
        <!--./-FORM-->
        <div class="container">
            <div class="row shadow-sm p-3 mb-5 bg-body rounded" id="to-fill">
                {% for post in blogposts %}
                    <div class="col-sm-12 col-lg-6 mt-5" id="card">
                        <div class="card" style="width: 28rem;">
                            <img src="{{ post.image_url }}" class="card-img-top" alt="{{ post.title }}" loading="lazy">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase f-sm-bold">{{ post.title }}</h5>
                                <p class="card-text">{{ post.content | truncatechars:50 }}</p>
                                <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary f-sm-bold">Scopri
                                    di
                                    più</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        function selectCat() {
            let choose = document.getElementById("cat-selector").value;
            let url = "{% url 'blog:filter' name="name" %}".replace("name", choose)
            $("#to-fill").load(url, function (responseTxt, statusTxt, xhr) {
                if (statusTxt == "error")
                    alert("Error: " + xhr.status + ": " + xhr.statusText);
            });
        }
    </script>
{% endblock %}