{% extends 'my-gym/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <style>
        form {
            max-width: 75% !important;
            margin: 0 auto;
        }

        form input {
            margin: 17px 0 !important;
        }

        form label {
            font-size: 14px;
            font-weight: bold;
            margin: 5px 0 !important;
            padding: 5px;
        }

    </style>
{% endblock %}
{% block title %}Post : Creazione{% endblock %}

{% block content %}
    {% if tot_cat == 0 %}
        <div class="container alert alert-warning d-flex align-items-center justify-content-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                 class="bi bi-exclamation-triangle-fill m-3" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <p class="m-0 p-0 f-sm-bold">{{ warning }}</p>
        </div>
        <p class="text-center">
            <a href="{% url 'blog:category_creation' %}" class="link-info">Aggiungi una categoria</a>
        </p>
    {% else %}
        <div class="d-flex flex-column text-center">
            <h3 class="f-sm-bold mb-5">Crea il tuo post:</h3>
            <form method="POST" enctype="multipart/form-data" class=" shadow-sm p-3 mb-5 bg-body rounded">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-primary f-sm-bold" type="submit">Crea post</button>
                </div>
            </form>

        </div>
    {% endif %}
{% endblock %}

