{% extends 'my-gym/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <style>
        form {
            max-width: 75% !important;
            margin: 0 auto;
        }

        form input {
            margin: 17px 0 !important;
        }

        form label {
            font-size: 14px;
            font-weight: bold;
            margin: 5px 0 !important;
            padding: 5px;
        }

    </style>
{% endblock %}
{% block title %}Post : {{ object.title }}{% endblock %}

{% block content %}

    <h4 class="text-center f-sm-bold">Modifica il tuo post:</h4>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-primary f-sm-bold" type="submit">Modifica post</button>
        </div>
    </form>

{% endblock %}