{% extends 'my-gym/base.html' %}
{% load static %}
{% block title %}Corsi - My-Gym{% endblock %}
{% block content %}
    {% for crs in courses %}
        <div class="container">
            <div class="shadow p-3 mb-5 bg-body rounded mb-4 d-flex flex-column flex-md-row align-items-center justify-content-between">
                <div class="p-4 text-center text-md-start">
                    <h2 class="f-sm-bold mb-5">Corso di {{ crs.title|capfirst }}</h2>
                    <p class="mb-5">{{ crs.description }}</p>
                    <h6>Aperture iscrizioni: {{ crs.date_of_start|date:"SHORT_DATE_FORMAT" }}</h6>
                    {% if crs.capacity == 0 %}
                        <h6 class="text-danger mb-3 f-sm-bold">Posti esauriti per questo corso!</h6>
                        {% if request.user not in crs.queue.queue_subs.all %}
                            <form method="GET" action="{% url 'gym_course:add_to_queue' crs.pk %}">
                                <button style="" type="submit" class="btn btn-link c-grey f-slim p-0">
                                    Iscriviti alla lista d'attesa per partecipare al corso di {{ crs.title|capfirst }}
                                </button>
                            </form>
                        {% else %}
                            <p class="c-grey f-slim">Sei attualmente iscritto alla lista d'attesa, riceverai un
                                messaggio
                                appena si libererà un posto.</p>
                        {% endif %}
                    {% else %}
                        <h6>Posti disponibili: {{ crs.capacity }}</h6>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <a href="{% url 'user_auth:login' %}" class="link-secondary">
                            <small style="font-size: 10px;" class="f-bold text-decoration-underline">
                                Accedi per iscriverti al corso!
                            </small>
                        </a>
                    {% endif %}
                </div>
                <div class="pe-md-5">
                    <form method="GET" action="{% url 'gym_course:make_inscription' crs.pk %}">
                        <div class="d-grid gap-2">
                            <button type="button submit" class="btn btn-primary f-sm-bold"
                                    {% if crs.capacity == 0 or not user.is_authenticated %}
                                    disabled
                                    {% endif %}
                            >
                                Iscriviti
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            {% empty %}
            <div class="container alert alert-primary d-flex align-items-center justify-content-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                     class="bi bi-info-circle-fill m-2" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
                <div class="f-sm-bold">
                    La palestra, attualmente, non fornisce nessun corso...
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}